.app-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .comments-app-container {
    margin-top: 100px;
  }
}

.comments-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 550px;
}

@media screen and (min-width: 768px) {
  .comments-container {
    width: 80%;
    max-width: 1140px;
  }
}

.line {
  border: 1px solid #dee0e3;
  width: 100%;
  margin-top: 15px;
}

.comments-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .comments-inputs {
    flex-direction: row;
  }
}

.app-heading {
  font-family: 'Roboto';
  font-size: 50px;
  color: #1e293b;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .app-heading {
    font-size: 55px;
    margin-top: 0px;
    margin-bottom: 25px;
  }
}

.form-description {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  color: #475569;
  margin-top: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  order: 1;
}

@media screen and (min-width: 768px) {
  .form {
    width: 28%;
    min-width: 300px;
    order: 0;
  }
}

.name-input {
  font-family: 'Roboto';
  font-size: 15px;
  height: 40px;
  border: 1px solid #cbd2d9;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  outline: none;
}

.comment-input {
  font-family: 'Roboto';
  font-size: 15px;
  border: 1px solid #cbd2d9;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  outline: none;
}

.add-button {
  background-color: #0284c7;
  font-size: 15px;
  font-family: 'Roboto';
  color: #ffffff;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  margin-top: 15px;
  min-width: 60px;
  align-self: flex-start;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.image {
  width: 280px;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .image {
    width: 380px;
    height: 300px;
  }
}

.heading {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  color: #475569;
  margin-left: 10px;
}

.comments-count {
  text-align: center;
  background-color: #0284c7;
  font-size: 15px;
  font-family: 'Roboto';
  color: #ffffff;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  margin-right: 5px;
  border-radius: 5px;
}

.comments-list {
  padding-left: 0;
  margin-top: 0;
}
