.comment-item {
  list-style-type: none;
}

.comment-container {
  display: flex;
}

.initial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 15px;
  flex-shrink: 0;
}

.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

.initial {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  margin: 0;
}

.username-time-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 12px;
}

.username {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  color: #334155;
  margin-top: 0;
  margin-bottom: 0;
}

.time {
  font-family: 'Roboto';
  font-size: 10px;
  color: #94a3b8;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.comment {
  font-family: 'Roboto';
  font-size: 15px;
  color: #64748b;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-container {
  display: flex;
  align-items: center;
}

.button {
  background-color: transparent;

  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  color: #7e858e;
  border: none;
  outline: none;
  cursor: pointer;
}

.like-image {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

.active {
  color: #0ea5e9;
}

.delete {
  height: 20px;
  width: 20px;
}

.comment-line {
  width: 100%;
  border: 1px solid #dee0e3;
}
